<div fxLayout fxLayout.xs="column" fxLayoutAlign="center">
  <div fxLayout="column">
    <mat-list>
      <mat-list-item>Markets</mat-list-item>  
      <mat-list-item *ngFor="let mark of markets" routerLink="/trade/{{mark.coin.ticker}}-{{mark.base.ticker}}"  class="mat-elevation-z2 clickable" [ngClass]="mark == market ? 'selected' : ''">
        <img matListAvatar src="assets/coins/{{mark.coin.ticker}}.png" alt="{{mark.coin.ticker}}">
        <h3 matLine> {{mark.coin.ticker}}/{{mark.base.ticker}} </h3>
        <p matLine> {{mark.price}} ({{mark.change | percent}}) </p>
      </mat-list-item>
    </mat-list> 
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" class="center-panel">
    <chart type="StockChart" [options]="options"></chart>
    <div fxLayout.gt-sm="row" fxLayout="column">
      <mat-accordion fxFlex="50" class="pad5">
        <mat-expansion-panel [expanded]="isSellPanelOpen">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sell {{market.coin.name}} ({{market.coin.ticker}})
            </mat-panel-title>
            <mat-panel-description [matTooltip]="availTooltip">
              {{market.coin.name}} Available: {{market.coinAvailable | number: '1.8-8'}} {{market.coin.ticker}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <mat-form-field>
              <input matInput type="number" placeholder="Amount" [ngModel]="askAmount" (ngModelChange)="askAmountChanged($event)">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="Price" [(ngModel)]="askPrice">
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="placeAsk()" [disabled]="validateAskInputs()">Place Order</button>
          </div>
          <div>

            <mat-form-field>
              <input matInput type="number" placeholder="Min" [matTooltip]="minToolTip" [ngModel]="askMin" (ngModelChange)="askMinChanged($event)">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="Min %" [matTooltip]="minToolTip" [ngModel]="askMinPercent" (ngModelChange)="askMinPercentChanged($event)">
            </mat-form-field>

          </div>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion fxFlex="50" class="pad5">
        <mat-expansion-panel [expanded]="isBuyPanelOpen">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Buy {{market.coin.name}} ({{market.coin.ticker}}) 
            </mat-panel-title>
            <mat-panel-description [matTooltip]="availTooltip">
              {{market.base.name}} Available: {{market.baseAvailable | number: '1.8-8'}} {{market.base.ticker}}
            </mat-panel-description>
          </mat-expansion-panel-header>


          <div>
            <mat-form-field>
              <input matInput type="number" placeholder="Amount" [ngModel]="bidAmount" (ngModelChange)="bidAmountChanged($event)">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="Price" [(ngModel)]="bidPrice">
            </mat-form-field>

            <button mat-raised-button color="primary" class="pull-right" (click)="placeAsk()" [disabled]="validateBidInputs()">Place Order</button>
          </div>
          <div>

            <mat-form-field>
              <input matInput type="number" placeholder="Min" [matTooltip]="minToolTip" [ngModel]="bidMin" (ngModelChange)="bidMinChanged($event)">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="Min %" [matTooltip]="minToolTip" [ngModel]="bidMinPercent" (ngModelChange)="bidMinPercentChanged($event)">
            </mat-form-field>

          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div fxLayout.gt-sm="row" fxLayout="column">
      <mat-accordion fxFlex="50" class="pad5">
        <mat-expansion-panel [expanded]="isBidPanelOpen">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutAlign="start center">
              Bids&nbsp; 
              <mat-chip-list>
                <mat-chip>{{bids.length}}</mat-chip>
              </mat-chip-list>
            </mat-panel-title>
            <mat-panel-description>
              Total: {{totalBids}} {{market.base}} 
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="space-between center" class="bidheader">
              <div fxFlex="25">Sum {{market.base.ticker}}</div>
              <div fxFlex="25">Size {{market.base.ticker}}</div>
              <div fxFlex="25">Amount {{market.coin.ticker}}</div>
              <div fxFlex="25">Price {{market.base.ticker}}</div>
            </div>

            <div *ngIf="market.bid.array.length == 0">No bids.</div>

            <div *ngFor="let bid of market.bid.array" fxLayout="row" fxLayoutAlign="space-between center" class="bidrow">
              <div fxFlex="25" (click)="fillSum(bid)"><span>{{bid.sum | number: '1.8-8'}}</span></div>
              <div fxFlex="25" (click)="fillTot(bid)"><span>{{(bid.amount * bid.price) | number: '1.8-8'}}</span></div>
              <div fxFlex="25" (click)="fillAmt(bid)"><span>{{bid.amount | number: '1.8-8'}}</span></div>
              <div fxFlex="25" (click)="fillPrc(bid)"><span>{{bid.price | number: '1.8-8'}}</span></div>
            </div>
          </div> 
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion fxFlex="50" class="pad5">
        <mat-expansion-panel [expanded]="isAskPanelOpen">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutAlign="start center">
              Asks&nbsp;
              <mat-chip-list>
                <mat-chip>{{bids.length}}</mat-chip>
              </mat-chip-list>
            </mat-panel-title>
            <mat-panel-description>
              Total: {{totalBids}} {{market.base}} 
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="space-between center" class="bidheader">
              <div fxFlex="25">Price {{market.base.ticker}}</div>
              <div fxFlex="25">Amount {{market.coin.ticker}}</div>
              <div fxFlex="25">Size {{market.base.ticker}}</div>
              <div fxFlex="25">Sum {{market.base.ticker}}</div>
            </div>

            <div *ngIf="market.ask.array.length == 0">No asks.</div>

            <div *ngFor="let bid of market.ask.array" fxLayout="row" fxLayoutAlign="space-between center" class="bidrow">
              <div fxFlex="25" (click)="fillPrc(bid)"><span>{{bid.price | number: '1.8-8'}}</span></div>
              <div fxFlex="25" (click)="fillAmt(bid)"><span>{{bid.amount | number: '1.8-8'}}</span></div>
              <div fxFlex="25" (click)="fillTot(bid)"><span>{{(bid.amount * bid.price) | number: '1.8-8'}}</span></div>
              <div fxFlex="25" (click)="fillSum(bid)"><span>{{bid.sum | number: '1.8-8'}}</span></div>
            </div>
          </div> 
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-accordion class="pad5">
      <mat-expansion-panel [expanded]="isActivePanelOpen">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Active Swaps
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="bidheader">
            <div fxFlex="10" style="text-align: center">Type</div>
            <div fxFlex="18">Amount {{market.coin.ticker}}</div>
            <div fxFlex="18">Price {{market.base.ticker}}</div>
            <div fxFlex="18">Size {{market.base.ticker}}</div>
            <div fxFlex="26" style="text-align: center">Time</div>
            <div fxFlex="10">Cancel</div>
          </div>

          <div *ngIf="market.trades.length == 0">No Orders.</div>

          <div *ngFor="let bid of market.trades" fxLayout="row" fxLayoutAlign="space-between center" class="bidrow">
            <div fxFlex="10" style="text-align: center">{{bid.act == 'bid' ? 'Buy' : 'Sell'}}</div>
            <div fxFlex="18">{{bid.amount | number: '1.8-8'}}</div>
            <div fxFlex="18">{{bid.price | number: '1.8-8'}}</div>
            <div fxFlex="18">{{(bid.amount * bid.price) | number: '1.8-8'}}</div>
            <div fxFlex="26" style="text-align: center">{{bid.timestamp | date : 'short' }}</div>
            <button mat-button color="accent" fxFlex="10" (click)="cancel(bid)">Cancel</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="pad5">
      <mat-expansion-panel [expanded]="isRecentPanelOpen">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Recent Swaps 
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="bidheader">
            <div fxFlex="10" style="text-align: center">Type</div>
            <div fxFlex="18">Amount {{market.coin.ticker}}</div>
            <div fxFlex="18">Price {{market.base.ticker}}</div>
            <div fxFlex="18">Size {{market.base.ticker}}</div>
            <div fxFlex="26" style="text-align: center">Time</div>
            <div fxFlex="10">Cancel</div>
          </div>

          <div *ngIf="market.mine.length == 0">No Orders.</div>

          <div *ngFor="let bid of market.recentTrades" fxLayout="row" fxLayoutAlign="space-between center" class="bidrow">
            <div fxFlex="10" style="text-align: center">{{bid.act == 'bid' ? 'Buy' : 'Sell'}}</div>
            <div fxFlex="18">{{bid.amount | number: '1.8-8'}}</div>
            <div fxFlex="18">{{bid.price | number: '1.8-8'}}</div>
            <div fxFlex="18">{{(bid.amount * bid.price) | number: '1.8-8'}}</div>
            <div fxFlex="26" style="text-align: center">{{bid.timestamp | date : 'short' }}</div>
            <button mat-button color="accent" fxFlex="10" (click)="cancel(bid)">Cancel</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="pad5">
      <mat-expansion-panel [expanded]="isMyPanelOpen">
        <mat-expansion-panel-header>
          <mat-panel-title>
            My Orders
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="bidheader">
            <div fxFlex="10" class="clickable" (click)="market.mySort('act')" style="text-align: center">Type</div>
            <div fxFlex="18" class="clickable" (click)="market.mySort('amount')">Amount {{market.coin.ticker}}</div>
            <div fxFlex="18" class="clickable" (click)="market.mySort('price')">Price {{market.base.ticker}}</div>
            <div fxFlex="18" class="clickable" (click)="market.mySort('size')">Size {{market.base.ticker}}</div>
            <div fxFlex="26" class="clickable" (click)="market.mySort('timestamp')" style="text-align: center">Time</div>
            <div fxFlex="10">Cancel</div>
          </div>

          <div *ngIf="market.mine.length == 0">No Orders.</div>

          <div *ngFor="let bid of market.mine" fxLayout="row" fxLayoutAlign="space-between center" class="bidrow">
            <div fxFlex="10" style="text-align: center">{{bid.act == 'bid' ? 'Buy' : 'Sell'}}</div>
            <div fxFlex="18">{{bid.amount | number: '1.8-8'}}</div>
            <div fxFlex="18">{{bid.price | number: '1.8-8'}}</div>
            <div fxFlex="18">{{(bid.amount * bid.price) | number: '1.8-8'}}</div>
            <div fxFlex="26" style="text-align: center">{{bid.timestamp | date : 'short' }}</div>
            <button mat-button color="accent" fxFlex="10" (click)="cancel(bid)">Cancel</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
