.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
  padding-top: 8px;
}

.bd {
  border: 1px solid red;
}

.error {
  background: black;
  color: red;
}

.success {
  background: white;
  color: green;
}
