<div mat-dialog-title>
  <h3>Password for account {{data.account.accountName}}</h3>
</div>

<mat-dialog-content>
  <div fxLayout="column">
    <h3 *ngIf="data.trade">Please enter you account password to complete your ongoing swap.</h3><!--TODO: more info about the swap-->

    <mat-form-field>
      <input matInput [(ngModel)]="password" placeholder="Enter account password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <div> 
      <div style="float:right">
        <mat-checkbox [(ngModel)]="unlock">Keep unlocked</mat-checkbox>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="ok()">Ok</button>
</mat-dialog-actions>
