/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  height: 100vh;
}

.bd { border: 1px solid red;}

.clickable { cursor: pointer; }

.mat-table {
  overflow: auto;
  max-height: 500px;
}
